table {
  
 

  
  /* background-image: url('bg.png');
  
  background-position: center;
  background-size: 690px 400px;
  background-repeat: no-repeat;
  background-position-x:-80px;
  background-position-y: 0rem;

   */
   

}


td{

  
  
  
  
  padding:20px;
}

.outvar{
  border-right:hidden;
  border-radius: 100%;
  
  


}